
<h1> Welcome user@email.com </h1>

<ol id='links'>
 <% @links.each do |link| %>
   <li>
     Title: <%= link.title %>
     URL: <%= link.url %>
   </li>
 <% end %>
</ol>

<form action='/links/new'>
 <input type='submit' value="Create new link" />
</form>
