<form action="/user_name" methods="post">
  <label for="Email"> User Name:
  <input type="email" name="Email" placeholder="Enter email">
  </label>
  <label for="password"> Password:
  <input type="password" name="password" placeholder="Enter password">
</label>
  <input type="submit" value="Sign up">
</form>
